.apresentacao{
    width: 100%;
    height: 100%;
    background-color: #eef2fd;
    position: absolute;

    display: flex;
    align-items: center;
    justify-content: center;
    top:0%;
}
#about{
    
    position: relative;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60vh;
 
}
.dados{
    background-color: rgb(255, 255, 255);
    width: 70%;
    padding: 5px;
    margin: 20px auto ;
    border-radius: 20px;

}
.recado{
    color: #706f6f;
    padding: 20px 0;
    text-align: left;
}
.nome-local{
    display: flex;
    align-items: center;
    
    justify-content: center;
}
@media screen and (max-width: 730px){
    .nome-local, .dados-valores{
        display: flex;
        flex-direction: column;
    }
    
    .apresentacao{
        padding: 20px 0 0 0;
    }
}
#nomet{
    font-size: 1.7rem;
    color: #5b5959;
}
#nomet div{
    font-size: 0.9rem;
}
.test{
    font-weight: 600;
    
    display: flex;
    align-items: center;
    color: #ffff;
    justify-content: center;
    width: 180px;
    height: 55px;
    padding: 20px;
    border-radius: 10px;
    background-color: #386062;

    margin: 10px;
    
}
.test2{
    background-color: #e7e8e9 ;
    color: #5b5959;

    
}
.dados-valores{
    display: flex;
}
.data-de-lancamento{
    background-color: #386062;
    color: #ffff;
    text-align: left;


    font-weight: 600;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 180px;
    height: 55px;
    padding: 20px;
    border-radius: 10px;
    margin: 10px;
}
.breve {
 padding: 0px;
 margin: 0;
}
.data-de-lancamento p{
    padding: 0px;
}
.metro{
    color: #386062;
    font-weight: 600;
}